#container {
    width:850px;
    margin:auto;
}
#header {
    height:72px;
}
#headerLine {
    float: right;
    width:635px;
    height:30px;
    margin-top:21px;
    margin-bottom:auto;
    background:aliceblue;
}
#form {
    margin: auto;
    margin-top:20px;
}
#button {
    height: 50px;
    width: 160px;
    background-color: #75C154;
    font-size:18pt;
    font-weight:bold;
    color:white;
}
#content {

}
.labelBox {
    width:300px;
}
.info {
    width: 400px;
    float:right;
    margin-bottom:20px;
}
.label {
    float: right;
    position:relative;
    right:10px;
    font-size:12pt;
}
.box {
    width:700px;
}
.inputBox {
    width:240px;
    height:24px;
    font-size:14pt;
}
.radioLabel {
    color: #84A8C8;
    font-size: 10pt;
}
.select {
    height: 23px;
    width: 75px;
    color:#84A8C8;
}

#container
{
    border:2px dashed pink;
    height:550px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}