#usertable
{
	border-collapse:collapse;
}

#userinfo
{
	height:300px;
	padding-left: 300px;
	padding-top:20px;
        margin-bottom: 50px;
}

#userinfo td
{
	line-height:40px;
        
}

button
{
	width:100px;
	height:30px;
}

#level
{
    height:120px;
}

.imgCenter
{
    text-align: center;
}